/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* PALETTE */
html {
  /* colori */
  --white: #FFF;
  --grey-200: #F5F2F4;
  --grey-400: #E9EAEB;
  --grey-600: #EBE9EB;
  --grey-800: #E3E1E3;
  --grey-1000: #ADAEAF;
  --grey-1200: #6D7376;
  --light-green: #D7F9BC;
  --black: #000000;
  --light-blue: #8EDAFD;
  --dark-blue: #001bb5;
  --sand: #F3EEEA;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
menu {
  list-style: none;
}

* > img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  color: currentColor;
}

input[type="text"] {
  border: none;
  outline-color: var(--dark-blue);
}

/*  UTILITY CLASSES  */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.item-start {
  align-self: flex-start;
}

.grow-1 {
  flex-grow: 1;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.fs-15 {
  font-size: 15px;
}

.fs-13 {
  font-size: 13px;
}


/* APP */ 
#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 330px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "user contact"
  "contacts currChat"
  "contacts writing";
  overflow: hidden;
}

/* PROFILE AREA */
.profile-area {
  grid-area: user;
  background-color: var(--grey-600);
  border-right: 2px solid var(--grey-800);

  padding: 0 15px;
}

.profile-tools {
  font-size: 16px;
  color: var(--grey-1000);
}

.profile-plate #profile-img {
  max-width: 35px;
  border-radius: 999px;
}

/* CURRENT-CONTACT */
.current-contact {
  grid-area: contact;
  background-color: var(--grey-600);
  border-left: 2px solid var(--grey-800);

  padding: 7px 20px;
}

.current-contact .profile-last-access {
  color: var(--grey-1000);
}

/* CONTACTS-LIST */
.side-bar {
  grid-area: contacts;
  overflow: hidden;
}

/* enable notification section */
.enable-notice .enable-icon {
  font-size: 24px;
  color: var(--light-blue);
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.side-bar .enable-notice {
  background-color: var(--light-blue);
  padding: 16px 10px;
}

/* search contacts bar */
.side-bar .search-contacts-bar {
  padding: 10px;
  background-color: var(--grey-200);
}

.search-contacts-bar .search-contacts {
  padding: 0 10px;
  line-height: 25px;
}

.search-contacts-bar .search-icon {
  padding: 6px 20px;
  background-color: var(--white);
  color: var(--grey-1000);
}

/* contacts list */
.contacts-list {
  overflow: auto;
}

.profile-plate .profile-img {
  max-width: 50px;
  border-radius: 999px;
}

.contact-item {
  border-top: 1.5px solid var(--grey-800);
  padding: 10px 20px;
  user-select: none;
}

.contact-item:hover {
  background-color: var(--grey-800);
}

.active-contact {
  background-color: var(--grey-800);
}

.contact-item .last-mess-hour {
  color: var(--grey-1000);
  font-weight: 500;
}

.contact-item .profile-last-access {
  color: var(--grey-1000);
  font-weight: 500;
}

/* CURRENT-CHAT */
.current-chat {
  grid-area: currChat;
  overflow: auto;
  background-image: url(../img/mine.jpg);

  padding: 30px 45px 0 45px;
}

.current-chat .message-area {
  display: flex;
  align-items: center;
  max-width: 1000px;
}

.message-area.sent {
  justify-content: end;
}

.message-area.sent > .message{
  background-color: var(--light-green);
}

.message-area.received > .message{
  background-color: var(--white);
}

.message {
  display: flex;
  min-height: 50px;
  border-radius: 14px;
  padding: 0 10px;
  background-color: red;
  align-items: center;
  max-width: 360px;
}

.message .message__text {
  font-size: 16px;
}

.message .message__time {
  font-size: 12px;
  align-self: flex-end;
  color: var(--grey-1200);
}

/* TOOLBAR */
.chat-bar {
  grid-area: writing;
  gap: 30px;
  padding: 15px 30px;
  background-color: var(--sand);
  color: var(--grey-1200);
}

.chat-bar .w-bar {
  line-height: 40px;
  padding: 0 10px;
  border-radius: 10px;
}



/* DEBUG */

/* .debug #app {
  border: 4px solid red;
} */

/* .debug #app > * {
  border: 2px solid black;
} */

/* .debug .current-chat > * {
  min-height: 50px;
  border: 2px solid black;
} */